.background {
    background: url('../../static/img/bg1.jpg');
    background-position: center;   
    background-size: cover;    
    
    &_theme_header {
        height: 500px;
    }

    &_theme_footer {
        height: 100px;
    }
}