.menu {
    // display: flex;
    // align-items: flex-end;
    transition: .5s ease;
    &__list {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        display: inline;
    }

    &__link {
        text-decoration: none;
        color: white;
        margin: 0 0 0 10px;

        &:active {
            color: white;
        }

        &:hover {
            border-bottom: 2px solid white;
        }

        &_main {
            color: gray;
            border-bottom: 2px solid gray;
            margin: 0 10px 0 0;

            &:active {
                color: gray;
            }
    
            &:hover {
                border-bottom: 2px solid gray;
            }
        }

        &_first {
            font-weight: bold;
        }
    }

    &_main {
        font-size: 24px;
        margin-top: 10px;
    }
}