.slider {
    width: 100%;
    border: 1px solid gray;
    overflow: hidden;
    padding: 0 20px;    
    position: relative;

    &__wrap {
        overflow: hidden;
    }

    &__list {
        padding: 20px 0;
        width: 4999px;
        list-style-type: none;
        margin: 0;
        transition: margin-left 1s ease-in-out;
        display: flex;
        flex-direction: row;
    }

    &__item {        
        height: 300px;
        width: 300px;
        img {
            height: 100%;
            width: 100%;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 27px;
        width: 27px;        
        text-align: center;
        
        &_left {
            left: 0;        
        }
    
        &_right {
            right: 0;
        }
    
        &:hover {
            background-color: rgba(250, 161, 177, .5);
            cursor: pointer;
        }
    }

    &__path {
        margin-bottom: 20px;
    }
}