.section {
    // padding-top: 20px;
    font-size: 20px;

    &__title {
        margin-top: 20px;
        font-size: 40px;
        border-left: 8px solid gray;
        padding-left: 10px;
    }

    &__content {
        margin-top: 20px;        
    }
}


// .title {
//     font-size: 53px;
//     font-weight: 700;

//     &_size_s {
//         font-size: 40px;
//         border-left: 8px solid gray;
//         padding-left: 10px;
//     }
// }

.block {
    position: relative;
    height: 150px;

    &__info {
        position: absolute;
        transition: visibility 0s ease, opacity 1s ease;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
    
        &_id {
            visibility: visible;
            opacity: 1;
        }
    
        &_job {
            visibility: hidden;
            opacity: 0;
            
        }
    
        &_contact {
            visibility: hidden;
            opacity: 0;
            
        }

        &_main_edu {
            visibility: visible;
            opacity: 1;
        }
    
        &_add_edu {
            visibility: hidden;
            opacity: 0;
        }
    
        &_lang {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__text {
        font-weight: bold;
    }

    &_edu {
        height: 195px;
    }
}

.wrapper-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copy {
    // padding-top: 50px;
}


.btn-svg {
    height: 22px;
    width: 15px;
    vertical-align: middle;
} 


.slider__btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 27px;
    width: 27px;
    // padding: 5px;
    text-align: center;
    
    &_left {
        left: 0;        
    }

    &_right {
        right: 0;
    }

    &:hover {
        background-color: rgba(250, 161, 177, .5);
        cursor: pointer;
    }
}

.slider__path {
    margin-bottom: 20px;
}
.path {
    width: 100%;
    height: 5px;
    border: 1px solid gray;
    

    &__inside {
        width: 0;
        background-color: grey;
        height: 100%;
    }
}