.wrapper {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;    
    position: relative;
    color: white;
    font-family: 'Playfair Display', serif;

    &__top {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        align-items: flex-end; 
    }

    &__logo {
        flex-grow: 1;
    }

    &__content {
        text-align: center;       
        position: absolute; 
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    &__button {
        margin-top: 30px;
    }

    &_theme_gray {
        color: gray;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    &_theme_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.menu__toggle {
    
    display: none;
    position: relative;
    width: 40px;
    height: 40px; 
    cursor: pointer;    
       
}

%message-shared {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;        
}

.menu-mobile__line {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;

    &:before {
        @extend %message-shared;
        top: -10px;
    }

    &:after {
        @extend %message-shared;
        bottom: -10px;
    }
}    

@media(max-width: 1300px) {
    .wrapper {
        max-width: 1024px;
    }
    .slider__item {
        width: 236px;
        height: 236px;
    }
}

@media(max-width: 1024px) {
    .slider {
        display: none;
    }
    .section__skills {
        display: block;
    }
}

@media(max-width: 900px) {
    .menu__link {
        // font-size: 20px;
    }
    .block_edu {
        height: 240px;
    }

    
}

@media(max-width: 700px) {
    .section__content{
        display: none;
    }
    .block_hidden {
        display: block;
        height: auto;
        font-size: 20px;
    }
    .wrapper__menu{
        // display: none;
        
    position: absolute;
    right: 18px;
    top: 73px;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    }
    .menu__toggle {
        display: block;
        margin-right: 40px;
    }
    .title {
        font-size: 38px;
    }
    .menu__item {
        display: block;
        padding-bottom: 10px;
    }
    .menu__link {
        margin: 0;
    }
    .menu__list :last-child {
        padding-bottom: 0;
    }
    .active {
        max-height: 150px;
        border: 2px solid white;
        padding: 10px;   
   }
   
   .block__info {
       position: static;
   }

   
   .block_edu, .block {
       height: auto;
   } 

   %visibility {
        visibility: visible;
        opacity: 1;
   }
   .block__info_add_edu,  .block__info_lang, .block__info_job,
   .block__info_contact, .block__info_id, .block__info_main_edu {
       @extend %visibility;
   }
  
   .section__menu {
       display: none;
   }
   
} 